*{
    margin: 0;
    padding: 0;
    overflow-x: ;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 60px;
 
}
.logo img {
   width: 200px;
   height: 60px;
   padding-left: 100px;
  
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 50px;
  padding-right: 250px;
  font-size: large;
}
.nav-links li a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}
.Right{
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icons{
  list-style: none;
  display: flex;
  gap: 20px;
  color: gray;
  padding-right: 100px;
  font-size: large;

}
 .search {
    padding-right:70px;
 }
.login-button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  padding-left: 20px;
  border-radius: 10%;
  margin: auto;

}

.main-content{
   margin: auto;
  padding: 40px;
  max-width: 1250px; 
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: rgb(246, 245, 245);
}
.main-card{
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  
}
.main-card img {
  width: 50%;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

.main-text {
  padding: 60px;
  
}
.main-text h1 {
  font-size: 30px;
  margin: 10px 0;
}
.main-text p {
  color: gray;
  margin: 10px 0;
  font-size: medium;
}
.lifestyle  {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
}

.lifestyle {
  background-color: violet;
}

.author-meta {
display: flex;
align-items: center;
gap: 10px;
font-size: 1rem;
color: #6b7280;
}
.author-meta img {
width: 30px;
height:30px ;
border-radius: 50%;
object-fit: cover;
}
.author-name {
font-weight: 400;
color: #111827;
}
.publish-date{
font-weight: 200;
color: #111827;
}
.sub-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  padding-left: 100px;
  margin-right: 80px;  
  
}

.card {
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
  width: 500px;
}

.card img {
  width: 150px;
  object-fit: cover;
  height: 150px;
  margin:auto ;
  padding-left: 10px;
  border-radius: 10px;
}
.card-text {
  padding: 40px;
}
.card-text .categorytech{
  background-color: rgb(108, 135, 176);
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
}
.categorytravel {
  background-color: rgb(118, 239, 164);
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 4px 10px;
  border-radius: 12px;
  color: white; 
}
.card-text h4 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.category-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}
.category-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.category-section p {
  color: gray;
  margin-bottom: 20px;
}
.category-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}
.category-tabs button {
  padding: 10px 18px;
  border: none;
  background: rgb(225, 223, 223);
  border-radius: 25px;
  font-weight: 500;
  color: rgb(64, 63, 63);
  cursor: pointer;
}
.category-tabs button.active {
  background: black;
  color: white;
}


.MAIN-CATEGORY{
  display: flex;
  flex-wrap: wrap;
   object-fit: cover; 
   padding left: 40px;

}
.category-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 25%;
  margin-left: 100px;
  margin-bottom: 20px;
}
.category-cards .card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column; 
}
.category-cards .card img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  display: flex;
  margin: auto;
  object-fit: cover;
}
.category-cards .card h3 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
 
}

.category-cards .card p {
  font-size: 14px;
  color: gray;
  margin-top: 12px;
}

.category-cards .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  color: #555;
  gap: 10px;
  font-size: 1rem;

}
.category-cards .card-footer img{

width: 28px;
height: 28px;
border-radius: 50%;
object-fit: cover;
margin-top: 10px;

}

.category-cards .card-footer .author {
  font-weight: bold;
  margin left: 52px;
  font-size: 12px;

}

.category-cards .card-footer .date{
  font-size: 10px;
  padding-left: 70px;
}

 .category-cards .card-footer .tag {
  background: #e0e0e0;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 12px;
  

}

.category-cards .card-footer .tech {
  background-color: #dbeafe;
  color: #3b82f6;
  
}

.category-cards .card-footer .lifestyle {
  background-color: #f3e8ff;
  color: #a855f7;
}

.category-cards .card-footer .travel {
  background-color: #d1fae5;
  color: #10b981;
}
.browse-posts-wrapper { 
  display: flex;   
  justify-content: center;   
  margin-bottom: 40px; 
} 
 
.browse-posts-btn {   
  background-color: rgb(7, 1, 1);   
  color: white;   
  border: 1px solid #000;  
  border-radius: 6px;  
  padding: 10px 20px;  
  font-size: 1rem; 
} 
.authors-section .header { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;  
  margin-bottom: 16px; 
  margin-left: 100px;
} 
 
.authors-section h2 {   
  font-size: 1.5rem;  
  color: #111827; 
  
} 
 
.view-all {   
  font-size: 0.95rem;   
  color: #4b5563;  
  text-decoration: none; 
   margin-right: 80px;
} 
 
.authors-section hr {  
  border: none;  
  height: 1px; 
  background-color: rgb(166, 166, 171);   
  margin-bottom: 24px; 
  margin-left: 100px;
  margin-right: 80px;
} 
 
.author-cards {   
  display: flex;  
  gap: 20px;   
  flex-wrap: wrap; 
   margin-left: 100px;
   margin-right: 80px;
} 
 
.author-card { 
 
  flex: 1; 
  min-width: 260px;   
  background: rgb(238, 240, 240);   
  border-radius: 12px;   
  padding: 20px; 
  display: flex;   
  align-items: center;   
  gap: 16px;   
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
} 
 
.author-card img {   
  width: 64px;   
  height: 64px;   
  border-radius: 50%; 
  object-fit: cover; 
} 
 
.author-details h3 {   
  font-size: 1.1rem;   
  font-weight: 600;   
  color: black; 
} 
 
.author-details p {   
  font-size: 0.95rem;   
  color: rgb(102, 102, 131); 
} 
 
.author-details span { 
  font-size 0.85rem; 
  color: rgb(125, 125, 159); 
}
 
.newsletter {
  background: rgb(238, 235, 235);
  padding: 50px 30px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.newsletter-box {
  background: whitesmoke;
  padding: 30px;
  border-radius: 10px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.newsletter-text h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.newsletter-text p {
  color: #555;
  font-size: 14px;
  max-width: 400px;
}
.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.newsletter-form input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}
.newsletter-form button {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  margin-left: 80px;
  margin-right: 80px;
}
.footer-center a {
  margin: 0 10px;
  text-decoration: none;
  color: #444;
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-right i {
  color: rgb(101, 99, 99);
}
.back-top {
  background: gray;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  text-decoration: none;
}

 
